
{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row">
            <div class="table-responsive-sm">
                <h3 class="mt-4">Monthly Reports</h3><br/><br/>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Month</th>
                            <th scope="col">Starting Balance</th>
                            <th scope="col">Final Balance</th>
                            <th scope="col">Savings Balance</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for report in monthly_reports %}
                      <tr>
                        <td>{{ report['Month'] }}</td>
                        <td>{{ report['Starting Bank Balance'] }}</td>
                        <td>{{ report['Final Bank Balance'] }}</td>
                        <td>{{ report['Savings Balance']}}</td>
                        <td><a href="/statements/view/{{ report['Month'] }}">View</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

<style>
    .container{
        padding-bottom: 30px;
    }
</style>

